*{
    background-color: bisque;
}
h2{
    opacity: 0.3;
    background-image: url(images/1dARa.gif);
    background-repeat: no-repeat;
    background-position: right top;
    border-style:dotted solid double dashed;
    border-width: 5px 10px 15px 20px;
    border-color: red green blue yellow;
    border-radius: 10px;
    
}
div{
    width: 130px;
    height: 100px;
    border: 2px solid black;
    margin: 30px;
    margin-left: inherit;
    padding: 10px ;
    box-sizing: border-box;
    background-color: powderblue;
    position: relative;
    right: 0px;
    bottom: 0px;
   
  
}
nav{
    width: 100px;
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
    outline: 10px inset green;
    outline-offset: 2px;
    font:  italic small-caps bold 30px Georgia, serif;
  
    
}
span{
    display: table;
    position: relative;
    left: 50px;
    
}
div.abs{
    position: absolute;
    bottom: 20px;
    left: 5px;
    z-index:5;
    float: right;
}
.fl{
    float: left;

}
